body, .navbar {
    /*background: url(images/bg.png);*/
    background : rgb(240, 197, 8);
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px #222;
    padding: 40px 0px;
}

nav {
    margin-bottom: 30px;
}

.price {
    background: #5cb85c;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}

.caption > h4 {
    text-align: center;
}

.btn-order {
    width: 100%;
    padding: 10px;
    font-size : 16px;
    color: #fff;
    background-color: #555;
}

.admin {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}

.grey {
    color: #555;
    font-size : 25px;
    text-shadow: none;
}

.help-inline {
    color:red;
}

.btn-order:hover {
    background-color: #5cb85c;

}

.red {
    color: red;
    font-size: 30px;
}